@use './variables/variables' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

html,
body,
.appContainer {
  height: 100svh;
  width: 100vw;
}

.appContainer {
  display: flex;

  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 0;

  width: 100%;

  a {
    text-decoration: none;
  }
}
