@use './variables/variables' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

html,
body,
.appContainer {
  height: 100svh;
  width: 100vw;
  overflow-y: auto;
}

.appContainer {
  margin-bottom: 56px;
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 0;

  width: 100%;

  a {
    text-decoration: none;
  }
}

// .MuiCardContent-root {
// }
